.navbar {
  background: #f2f2f2;
  padding: 10px;
}

.navbar .flex-container {
  display: flex;
  justify-content:space-around
}

.navbar .flex-item {
  padding: 5px;
  
}

body {
  line-height: 25px;
  border: 5px solid grey;
  max-width: 700px;
  padding: 18px;
  display: block;
  font-family: 'Times New Roman', Times, serif;
  
}

h1 {
  text-align: left;


}

h4 {
  font-weight: 500;
}

li+li {
  margin-top: 1em;
}



